.container {
  width: 500px;
  margin: auto;
  * {
    box-sizing: border-box;
  }
  .inputContainer {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    .values {
      display: flex;
      flex-wrap: wrap;
    }
    .input {
      display: flex;
      align-items: center;
      padding: 0 5px;
      border: 1px solid black;
      .searchIcon {
        padding: 2px 5px 5px;
      }
      input {
        width: 100%;
        outline: none;
        border: none;
      }
      .helper {
        padding: 2px 0px 5px;
        cursor: pointer;
      }
    }
  }
  .dropDown {
    display: none;
    width: fit-content;
    position: absolute;
    margin-left: 40px;
    background-color: white;
    &:focus {
      outline: none;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;  
    }
    &.active {
      display: block;
    }
  }
  .datatable {
    width: 100%;
    thead {
      background-color: #555555;
      color: white;
    }
  }
}